<server description="Sample Servlet server">
    <featureManager>
    	<feature>javaee-7.0</feature>
	</featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"  host="*" />

    <webApplication id="GradleSample" location="GradleSample.war" contextRoot="${app.context.root}" />
    <keyStore id="defaultKeyStore" password="{xor}Mj4yPm5uZm0="/>
</server>
